<div class="cardAgenda">
<div class="card-body">

<form action="/admin/atividade/nova" class="col-md-6 offset-md-3  " method="post">

 <input type="hidden" name="aluno" value="{{alunos._id}}">

<label for="atividades">Atividades Extracurriculares:</label>
<textarea name="atividades" id="" cols="20" rows="10" class="text-field" required></textarea>

    <button type="submit" class="btn btn-success">Salvar</button>
</form>


</div>
</div>
