<h3>Novo Usuario:</h3>
<div class="cardPers">
    <div class="card-body">
<form action="/usuario/usuarioadd" method="POST">

    <label for="nome">Digite o nome:</label>
        <input type="text" name="nome" id="nome" placeholder="Nome" class="form-control">

    <label for="email">Digite o email:</label>
        <input type="email"class="form-control" name="email" placeholder="Nome@Sobrenome">

    <label for="senha">Digite a senha:</label>
        <input type="password" class="form-control" name="senha" placeholder="Senha">



    <button type="submit" class="btn btn-success mt-4">cadastrar usuario</button>
</form>
</div>
</div>